/* CSS Document */
body{
	background-color:#fff;	
}
/*container*/
#container{
	width:80%; 
	margin:-30px auto;
	box-shadow:0px 0px 2px #000000;
	height:auto;
	background-color:#CCC;
}
/*header*/
#header{
	
	height:85px;
	background-color:#003;
	color:#FFF;
}
#header p{
	padding-top:15px;
	text-align:center;
	font-size:40px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

/*menu*/
#menu{
	
	height: 55px;
	background-color:#003;
    margin-top:-16px;
}
#menu > ul li a{
		background-color:#4C7C7E;
		float:left;
		height:35px;
		width:75px;
		text-align:center;
		text-decoration:none;
		border-top-right-radius:20px;
		border-bottom-left-radius:20px;		
		line-height:35px;
		color:#F4F4F4;
		padding:0px 24px 0px 14px;
	}
#menu > ul li{
		list-style-type:none;
		float:left;
		padding: 0px 30px 0px 0px;
		
	}
#menu >ul li a:hover{
		background-color:#2B5D5E;
		box-shadow:2px 4px 4px #CCC;
		-moz-box-shadow:2px 4px 4px #CCC;
		-webkit-box-shadow:2px 4px 4px #CCC;
		-o-box-shadow:2px 4px 4px #CCC;
	}
#menu ul li:hover > ul.uldown
		{
			display: block;
			z-index: 99;
		}
#menu ul li > ul.uldown{
	display: none;
	position: absolute;
	list-style-type: none;
	width: 40px;
	margin:0;
	padding: 0;
	margin-top: 35px;
		}
#menu ul li > ul.uldown li a{
	width:75px;
	height:40px;
	background-color:#4C7C7E;	
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
}
#menu ul li ul.uldown li a:hover{
	background-color:#2B5D5E;
}
/*main*/
#main{
	
	height:680px;
	background-color:#CCCCCC; 
	margin-top:-10px;
}
.booking{
	list-style-type:none;
	margin:10px;
	float:left;
	width:200px;
	display:inline;
}
.booking li{
	list-style-type:none;
}

#link_design{
	padding-left:50px;
}


.btnstyle{
	
	background-color:#4C7C7E; 	
	color:#FFF; 
	border:1px solid #4C7C7E; 
	border-radius:4px;
	padding:4px 20px;
	text-decoration:none;
	cursor:pointer;
}
.btnstyle:hover
{
	box-shadow:2px 4px 4px #CCC;
		-moz-box-shadow:2px 4px 4px #CCC;
		-webkit-box-shadow:2px 4px 4px #CCC;
		-o-box-shadow:2px 4px 4px #CCC;
}
/*style for Jquery Image*/
.pics img
		{
		 	position: absolute;
		 	/*z-index: 5; 
		 	opacity: 0;*/
		  	width: 700px; 
		  	height: 350px;
		  	border: 1px solid #ccc; 
		  	background-color: #eee;
		  	padding: 15px;
		}
		.pics{
			width:700px;
			margin: 20px auto;
			height:400px;
		}
		/*Second jquery*/
		.pics2 { 
			height: 250px; 
			width: 450px;
			overflow: hidden;  
		}
		.pics2 img { 
			height: 200px; 
			width: 400px; 
			padding: 15px; 
			border: 1px solid #ccc; 
			background-color: #eee;
		}
		/*Third jquery*/
		.pics3 img
		{
			 position: absolute;
			 z-index: 5; 
			 opacity: 0;
			 width: 350px; 
			 height: 200px;
			 border: 1px solid #ccc; 
			 background-color: #eee;
			 padding: 15px;
		}
		.pics3{
			width:350px;
			height:200px;
		}
		/*Fouth jquery*/
		.pics4 img
		{
			 position: absolute;
			 z-index: 5; 
			 opacity: 0;
			 width: 400px; 
			 height: 200px;
			 border: 1px solid #ccc; 
			 background-color: #eee;
			 padding: 15px;
		}
		.pics4{
			width:450px;
			height:250px;
		}


	
	/*ul.buybtn{
		margin-left:40px;
	}*/
	div.accno_div{
		margin-top:20px;
		margin-left:150px;
	}

#bookingDetail{
	width:1000px; 
	/*height:850px;*/
	height:auto;
	padding-bottom:30px; 
	background-color:#CCCCCC; 
	float:left;
}

#main #search_div{
	width:500px; 
	height:50px; 
	margin-bottom:100px; 
	margin-top:30px; 
	margin-left:400px;
}
#main #search_div .search_btn{
	width:100px;
	height:35px;
	color:#FFF;
	background-color:#286090;
	border:1px solid #286090;
	border-radius:3px;
}
#main #search_div .search_txt{
	height:33px;
}

.bDetailTable{
	margin-top:20px; 
	margin-left:380px; 
	float:left;
	line-height:30px;
}
.bDetailTable tr
{
line-height:30px;
}

#footer{
	
	height:90px;
	background-color:#003;
	color:#FFF;
	text-align:center;
	
}
input[type="text"],input[type="password"],input[type="email"],#country,.h1
{
	height:33px;
}

.pics3 img
		{
			 position: absolute;
			 z-index: 5; 
			 opacity: 0;
			 width: 350px; 
			 height: 200px;
			 border: 1px solid #ccc; 
			 background-color: #eee;
			 padding: 15px;
		}
		.pics3{
			width:350px;
			height:200px;
		}
		/*Fouth jquery*/
		.pics4 img
		{
			 position: absolute;
			 z-index: 5; 
			 opacity: 0;
			 width: 400px; 
			 height: 200px;
			 border: 1px solid #ccc; 
			 background-color: #eee;
			 padding: 15px;
		}
		.pics4{
			width:450px;
			height:250px;
		}
		#remove
		{
			text-decoration:none;
			 background-color:#FFF;
			  padding:1px 10px;border:1px solid #F00;
		}
		.clear
		{
			clear:both;
		}
		.heightconfig
		{
			height:400px;
		}
#emailerror
{
	color:#F00;
}